{%- comment -%}
  Snippet: low-inventory-badge.liquid
  Description:
    Displays a stock warning (e.g., "only 2 left") if inventory is 3 or less.
  Parameters:
    - value (string): The variant option (e.g. size like "L")
    - optionName (string): The name of the option, usually "Size"
    - index (number): The option index
{%- endcomment -%}

<template x-if="shouldDisplayLowInventory('{{ optionName }}', '{{ value }}', {{ index }})">
  <span x-text="displayLowInventoryMessage('{{ optionName }}', '{{ value }}', {{ index }})"></span>
</template>
