{%- comment -%}
	Snippet: Featured Pages List Item
	Description: Contains the featured pages list item component with an image and a link.

	Accepts:
	  - link_url: The URL of the link.
	  - link_name: The name of the link.
	  - image_src: The image source URL.
    - index: The index of the item.

	Usage:
	  {% render
	    'featured-pages-list-item',
	    link_name: 'Philos Phantom',
	    link_url: '/pages/philos-phantom',
	    image_src: 'https://cdn.shopify.com/s/files/1/0000/0000/0000/files/sample-image.jpg',
      index: 0
	  %}
{%- endcomment -%}

{%- liquid
  # Initialize link_name_suffix with an empty string
  assign color_variants_count = ''
  assign display_color_variants_count = false
  assign display_infinity_symbol = false

  # Check if the link_url is not blank and contains '/collections/'
  if link_url != blank and link_url contains '/collections/'
    # It's a collection, get the handle and count of all products
    assign collection_handle = link_url | split: '/' | last
    assign current_collection = collections[collection_handle]

    if current_collection
      assign total_color_count = 0
    # Get all products from the collection
      for product in current_collection.products
        # Reset product_color_count for each product
        assign product_color_count = 0

        # Find the array of colors from options_with_values
        for option in product.options_with_values
          if option.name == 'Color'
            # Count the number of colors available for this product
            assign product_color_count = option.values | size
          endif
        endfor

        # Accumulate the total color count across all products
        assign total_color_count = total_color_count | plus: product_color_count
      endfor

      assign display_color_variants_count = true

      #assign product_count = collections[collection_handle].all_products_count
      if total_color_count < 10
        assign color_variants_count = total_color_count | prepend: '0'
      else
        assign color_variants_count = total_color_count
      endif
    endif

  endif

  # If the link_url is a page, set color_variants_count to '∞'
  # if link_url != blank and link_url contains '/pages/'
  unless link_url != blank and link_url contains '/collections/'
    assign display_infinity_symbol = true
  endunless
-%}

<a
  x-data="featuredPagesListItem({ index: {{ index }}})"
  @item-hovered.window='setActive($event.detail)'
  x-on:mouseenter='onHover'
  x-on:mouseleave='onLeave'
	href='{{ link_url }}'
  aria-label='{{ 'general.check_out' | t }} {{ link_name | escape }}'
	class='featured-pages-list-item flex flex-col sm:flex-row justify-center items-center mb-6 sm:mb-3 last:mb-0 relative'>
	{%- comment -%} Link Name {%- endcomment -%}
	<h2 class='featured-pages-list-item__link-name relative inline-block text-center text-46 sm:text-50 lg:text-100 uppercase z-10 lg:h-[1em] overflow-hidden'>
		{%- if link_name != blank -%}
    <div class="inline lg:inline-block">
      <div class="inline lg:flex flex-col">
        <span class="link-name first font-ivar text-black">{{ link_name }}</span>

        <span class='link-name second font-ivar text-brown hidden lg:block'>{{ link_name }}</span>
      </div>
    </div>
		{%- endif -%}

		{%- comment -%} Collection: Count {%- endcomment -%}
		{%- if color_variants_count != blank and display_color_variants_count == true -%}
			<span class='link-name-suffix inline text-[0.4em] lg:text-[0.3em] align-top font-semibold'>{{ color_variants_count }}</span>
		{%- endif -%}
    {%- if display_infinity_symbol == true -%}
      {% render 'icon-infinity-symbol' %}
    {%- endif -%}
	</h2>

	{%- comment -%} Image {%- endcomment -%}
	{% if image_src != blank %}
    <div
      x-ref='img'
      class='img w-[27rem] fixed left-0 top-0 hidden lg:block pointer-events-none'>
      <div class='-translate-y-1/2 -translate-x-1/2'>
        <img
          x-cloak
          x-show='isActive'
          x-transition
          x-transition.scale.80
          x-transition.duration.500ms
          src='{{ image_src | image_url: width: image.width, height: image.height }}'
          alt='{{ link_name | escape }}'
          loading='lazy'
          class='object-cover object-center w-full flex aspect-[.833]'>
      </div>
    </div>
	{% endif %}
</a>
