{%- comment -%}
Section: Tabbed Navigation
Description: This section is used to handle the click event on the navigation
items, append the anchor to the URL, and scroll to the target section.

Accepts:
- Block:
- Navigation Item:
- Label: Text
- Target Section ID: Text

Usage:
Tabbed Navigation and Tabbed Navigation Anchor (scrolling mechanism):
This implementation consists of two sections, each with a specific purpose:

- Tabbed Navigation: This section is designed to provide a navigation bar
where each tab represents a link to a specific part of the page.
Clicking on a tab triggers a smooth scroll to the corresponding content section.
The section is composed of a series of navigation items, each with a label and
a target section ID. The target section ID should match the ID of the content
section to which the tab should scroll. By clicking on a tab, the custom event is
being dispatched, and the user is redirected to the corresponding section.
This setup allows users to share the URL with the anchor appended, ensuring that
the recipient is directed to the intended section.

- Tabbed Navigation Anchor: Complementing the Tabbed Navigation, this section serves
as the target for the scroll action initiated by selecting a tab.
It listens for the custom event dispatched by the Tabbed Navigation and scrolls
to the target section.
Each anchor point is associated with a unique ID, which matches the ID specified in the
corresponding tab. This setup ensures that selecting a tab in the navigation bar
scrolls the user precisely to the intended content section. The anchor section
should be placed directly above the content section to which it corresponds.
{%- endcomment -%}

<nav
  x-data="tabbedNavigation({ activeTab: '{{ section.blocks[0].settings.section_id }}' })"
  class="tabbed-navigation mt-14">

  <ul class="flex justify-center items-center lg:gap-9 flex-wrap w-full px-5 sm:px-10 text-black">
    {% for block in section.blocks %}
    <li class="w-1/3 lg:w-auto mx-auto lg:mx-0 text-center px-4 sm:px-0">
      <a
        @click.prevent="updateActiveTab('{{ block.settings.section_id }}')"
        href='#{{ block.settings.section_id }}'
        :class="{
          'link link--line': activeTab === '{{ block.settings.section_id }}',
          'link link--reversed': activeTab !== '{{ block.settings.section_id }}'
        }"
        class="uppercase text-14 pb-1">
        {{ block.settings.label }}
      </a>
    </li>
    {% endfor %}
  </ul>
</nav>


{% schema %}
{
  "name": "Tabbed Navigation",
  "tag": "section",
  "settings": [],
  "blocks": [
    {
      "type": "navigation_item",
      "name": "Navigation Item",
      "settings": [
        {
          "type": "text",
          "label": "Label",
          "id": "label"
        },
        {
          "type": "text",
          "label": "Target Section ID",
          "id": "section_id",
          "info": "Enter the ID of the section this navigation item should scroll to. The ID should match exactly the HTML element's ID attribute of the target section."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Tabbed Navigation"
    }
  ]
}
{% endschema %}
