{%- comment -%}
	Section: Footer
	Description: A section that displays footer.

	Usage: This section is used to display footer.

	Accepts:
    - Newsletter Title: Text field that represents newsletter title.
    - Newsletter Subtitle: Text field that represents newsletter subtitle.
    - Link Text: Text field that represents link text.
	  - Address: Text field that represents hero address.
    - Blocks:
      - Menu Title: Text field that represents menu title.
      - Menu: Menu field that represents menu.
{%- endcomment -%}

<footer
	x-data='footer'
	data-scroll
	data-scroll-repeat
  data-scroll-call="inViewportAnimation"
	class='footer w-full px-10 pb-9 pt-28 text-black bg-white2'>
	<div
		data-animate
    data-preset='fade'
		class='flex flex-col lg:flex-row'>
		<div class='w-full lg:w-1/2 flex flex-col sm:flex-row lg:flex-col sm:mb-24 lg:mb-0'>
			<div class='w-full sm:w-2/3 lg:w-full mb-16 sm:mb-0 sm:pr-20 lg:pr-0'>
				{%- comment -%} Newsletter {%- endcomment -%}
				{%- if section.settings.newsletter_title != blank -%}
					<h2 class='text-16 uppercase mb-8'>{{ section.settings.newsletter_title }}</h2>
				{%- endif -%}

				{%- if section.settings.newsletter_subtitle != blank -%}
					<div class='text-16 uppercase mb-3'>
						{{ section.settings.newsletter_subtitle }}
					</div>
				{%- endif -%}

				<div class='lg:w-3/4 lg:mb-6'>
          {% render 'newsletter' %}
          {% comment %} Klaviyo Embeded {% endcomment %}
          {% comment %} <div class="klaviyo-form-XqiSun klaviyo-form klaviyo-form--newsletter"></div> {% endcomment %}
				</div>
			</div>

			<div class='w-full sm:w-1/3 lg:w-full mb-16 sm:mb-0'>
				{%- comment -%} Address {%- endcomment -%}
				{%- if section.settings.address != blank -%}
          {%- assign store_address = section.settings.address | strip_html | escape -%}
					<div class='mb-5'>
						<a
							href='https://www.google.com/maps/search/?api=1&query={{ store_address }}'
							target='_blank'
							rel='noopener nofollow'
              aria-label='{{'general.check_out' | t }} {{ store_address }}'
							class='footer-link pb-1 text-20'>
                {{ section.settings.address }}
						</a>
					</div>
				{%- endif -%}

				{%- comment -%} Link {%- endcomment -%}
				{%- if section.settings.link_text != blank -%}
          {% liquid
            # Link Page
            assign link_page = section.settings.link_page
            assign link_anchor = section.settings.section_id | prepend: '#'
            assign link_url = link_page.url

            if link_anchor != blank
              assign link_url = link_page.url | append: link_anchor
            endif
          %}
          <a
            href="{{ link_url }}"
            aria-label="{{ 'general.check_out' | t }} {{ section.settings.link_text | escape }}"
            class="page_link inline-block">
            <span class='text-16 link link--line pb-1'>
              {{ section.settings.link_text }}
            </span>
          </a>
				{%- endif -%}
			</div>
		</div>

		<div class='w-full lg:w-1/2'>
			{%- comment -%} Nav {%- endcomment -%}
			<div class='flex flex-wrap justify-between sm:mb-20 lg:mb-24 2xl:pr-32'>
				{% for block in section.blocks %}
					{% assign menu_handle = block.settings.menu %}

					<div class='menu-group text-16 uppercase basis-1/2 sm:basis-1/3 lg:basis-auto mb-16 sm:mb-0'>
            {%- if linklists[menu_handle].links != blank -%}
              {%- liquid
                # Menu Title
                assign menu_title_fallback = linklists[menu_handle].title
                assign menu_title = block.settings.menu_title | default: menu_title_fallback
              -%}

              {%- if menu_title != blank -%}
                <h3 class='mb-8'>{{ menu_title }}</h3>
              {%- endif -%}

              <nav class="footer-menu">
                <ul class="footer-menu__list">
                  {% for link in linklists[menu_handle].links %}
                    {%- liquid
                      assign link_attr = ''
                      if link.url contains 'http://' or link.url contains 'https://'
                        assign link_attr = 'target="_blank" rel="noopener nofollow"'
                      endif
                    -%}
                    <li class='footer-menu__list-item mb-1 last:mb-0'>
                      <a
                        href='{{ link.url }}'
                        {{ link_attr }}
                        aria-label="{{ 'general.check_out' | t }} {{ link.title | escape }}"
                        class='link link--reversed pb-1'>
                        {{ link.title }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </nav>

            {%- endif -%}
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

  {%- comment -%} Footer Logo {%- endcomment -%}
  <div
		data-animate
    data-preset='fade'
		data-to='{"delay": 0.25}'
		class='w-full py-8'>
    <div class='footer-logo-icon logo--dark-gray'>
      {%- render 'icon-logo-philos-running' -%}
    </div>
  </div>

	{%- comment -%} Copy Text {%- endcomment -%}
	<div
		data-animate
    data-preset='fade'
		data-to='{"delay": 0.25}'
		class='flex flex-col-reverse items-center sm:items-end sm:flex-row w-full'>
    <div class="sm:basis-1/3">
		  <p class='copyright grow'>
        &copy; {{ 'now' | date: '%Y' }} {{ 'general.footer.copyright.text' | t }}
      </p>
    </div>
	</div>
</footer>

{% schema %}
{
	"name": "Footer",
	"tag": "section",
	"settings": [
		{
			"type": "text",
			"label": "Newsletter Title",
			"id": "newsletter_title"
		},
		{
			"type": "text",
			"label": "Newsletter Subtitle",
			"id": "newsletter_subtitle"
		},
		{
			"type": "richtext",
			"label": "Address",
			"id": "address"
		},
		{
			"type": "text",
			"label": "Link Text",
			"id": "link_text"
		},
    {
      "type": "page",
      "id": "link_page",
      "label": "Page Link",
      "info": "Select a page to link to."
    },
    {
      "type": "text",
      "label": "Section ID",
      "id": "section_id",
      "info": "This is used to link to this section of the page. It should be unique and contain no spaces."
    }
	],
	"blocks": [
		{
			"type": "menu",
			"name": "Menu",
			"settings": [
        {
          "type": "text",
          "label": "Menu Title",
          "id": "menu_title"
        },
				{
					"type": "link_list",
					"label": "Menu",
					"id": "menu"
				}
			]
		}
	],
	"max_blocks": 3,
	"presets": [
		{
			"name": "Footer"
		}
	]
}
{% endschema %}
