{%- comment -%}
Snippet: Cart Controls
Description: A snippet that displays the cart controls
(subtotal, delivery costs, view bag and checkout buttons)
{%- endcomment -%}

{%- assign currency_code = cart.currency.iso_code -%}

<div class='cart-controls'>
  <template x-if="lineItems">
    <div class='w-full'>
      {%- comment -%}
      <div class='w-full flex items-center justify-between pt-5 border-t border-gray'>
        <span>Delivery costs:</span>
        <span>Free</span>
      </div>
      {%- endcomment -%}

      <div class='w-full flex items-center justify-between mb-5 pt-5 border-t border-gray'>
        <span class="uppercase">{{ 'cart.subtotal' | t }}:</span>
        {% comment %} @TODO update price currency display {% endcomment %}
        <span x-text='totalPrice'>{{ cart.total_price | money_without_trailing_zeros }}</span>
      </div>

      <div class="flex gap-2">
        {% if viewBag %}
          <a
            href="/cart"
            aria-label="{{ 'cart.view_cart' | t }}"
            @click='close'
            class="w-full h-[45px] px-6 text-black bg-white3 hover:bg-black hover:text-white3 border border-black transition-colors uppercase text-16 text-center hidden lg:flex items-center justify-center">
            {{ 'cart.view_cart' | t }}
          </a>
        {% endif %}
        <a
          href="/checkout"
          aria-label="{{ 'cart.checkout' | t }}"
          :class="{'pointer-events-none  opacity-60': cart.items && cart.items.length === 0 }"
          class="no-swup w-full h-[45px] px-6 text-white3 bg-black lg:hover:bg-white2 lg:hover:text-black border border-black transition-colors uppercase text-16 text-center flex items-center justify-center">
          {{ 'cart.checkout' | t }}
        </a>
      </div>
    </div>
  </template>
</div>
