{%- comment -%}
	Section: Big Image With Caption
	Description: A section that contains full width image with headline, link and text

	Usage:
	- Use this section to display a full width image with either headline,
	  link and text or all of them

	Accepts:

{%- endcomment -%}

{%- liquid
    # Determine content position
    # Default content position is top
    assign content_position = 'justify-start'
    if section.settings.content_bottom
      assign content_position = 'justify-end'
    endif

    # CTA (for mobile)
    assign cta = section.settings.cta

    # Video
    assign video_desktop = section.settings.video
    assign video_mobile = section.settings.video_mobile | default: video_desktop
-%}
<div
	x-data='bigImageWithCaption'
  x-effect="compUpdateFunc"
	class='big-image-with-caption relative w-full h-screen'>

	<div class='relative w-full h-full py-24 flex flex-col items-center {{ content_position }} overflow-hidden'>
		{%- comment -%} Image or Video {%- endcomment -%}
		<div
			class='absolute top-0 left-0 w-full h-full'
			data-scroll
      data-scroll-repeat
  		data-scroll-call="inViewportAnimation">
    {%- if cta != blank -%}
      <a href="{{ cta }}" aria-label="Navigate to: {{cta}}" class="block w-full h-full">
    {%- endif -%}
			<div
				data-animate
				data-preset='scaleDownFade'
				class='media-wrapper absolute top-0 left-0 w-full h-full'>
        {%- comment -%} Image {%- endcomment -%}
        {%- if section.settings.image != blank -%}
          {%-
            render 'parallax-picture',
            image: section.settings.image,
            image_mobile: section.settings.image_mobile,
          -%}
        {%- endif -%}

        {%- comment -%} Video (Mobile) {%- endcomment -%}
        {%- if video_mobile != blank -%}
          <div class="video-wrapper video--mobile lg:hidden">
            {{ video_mobile | video_tag: autoplay: true, loop: true, muted: true, controls: false }}
          </div>
        {%- endif -%}

        {%- comment -%} Video (Desktop) {%- endcomment -%}
        {%- if video_desktop != blank -%}
          <div class="video-wrapper video--desktop hidden lg:block">
            {{ video_desktop | video_tag: autoplay: true, loop: true, muted: true, controls: false }}
          </div>
        {%- endif -%}
			</div>
    {%- if cta != blank -%}
      </a>
    {%- endif -%}
		</div>

    {%- comment -%} Content Wrapper {%- endcomment -%}
    <div
      data-scroll
      data-scroll-repeat
      data-scroll-call="inViewportAnimation"
      class='content-wrapper flex flex-col items-center pb-0 z-10'>
      {%- comment -%} Headline {%- endcomment -%}
      {%- if section.settings.headline != blank -%}
        <h2
          data-animate
          data-preset='fadeUp'
          class='content__headline font-ivar text-50 lg:text-100 text-cloud text-center uppercase'>
          {{ section.settings.headline }}
        </h2>
      {%- endif -%}

      {%- comment -%} Text {%- endcomment -%}
      {%- if section.settings.text != blank -%}
        <div
          data-animate
          data-preset='fadeUp'
          data-to='{ "delay": 0.15 }'
          class='content__text bottom-text px-7 lg:px-0 text-cloud text-center'>
          <div class="content__text__text text-30 font-ivar">{{ section.settings.text | newline_to_br }}</div>
        </div>
      {%- endif -%}

      {%- if cta != blank -%}
        <div
          data-animate
          data-preset='fadeUp'
          data-to='{ "delay": 0.15 }'
          class='cta-wrapper flex flex-col justify-center items-center w-full h-[64px] mt-8 px-[90px]'>
          {%- render 'button-cta', url: section.settings.cta.url, text: section.settings.cta_text -%}
        </div>
      {%- endif -%}
    </div>

	</div>
</div>

{% schema %}
{
	"name": "Big Image With Caption",
	"tag": "section",
	"settings": [
		{
			"type": "image_picker",
			"label": "Image",
			"id": "image"
		},
    {
      "type": "image_picker",
      "label": "Mobile Image",
      "id": "image_mobile"
    },
    {
      "type": "video",
      "id": "video",
      "label": "Video",
      "info": "Upload a video to display it instead of the image."
    },
    {
      "type": "video",
      "id": "video_mobile",
      "label": "Mobile Video",
      "info": "Upload a video to display it on mobile. If not set, the desktop video will be displayed on all devices."
    },
		{
			"type": "text",
			"label": "Headline",
			"id": "headline"
		},
		{
			"type": "richtext",
			"label": "Text",
			"id": "text"
		},
    {
      "type": "url",
      "label": "Cta Link",
      "id": "cta"
    },
    {
      "type": "text",
      "label": "Cta Text",
      "id": "cta_text"
    },
		{
			"type": "checkbox",
			"label": "Content Bottom",
			"id": "content_bottom"
		}
	],
	"blocks": [],
	"presets": [
		{
			"name": "Big Image With Caption"
		}
	]
}
{% endschema %}
