{%- comment -%}
	Snippet: Headline
	Description: A snippet displaying headline and text

	Accepts:
  - headline: Text
  - text: Text
  - vertical: Boolean

{%- endcomment -%}

{% liquid 
  assign container_classes = 'headline relative flex w-full px-5 sm:px-10 pt-40 pb-12 text-black'
  assign headline_classes = 'font-ivar sm:text-100'
  assign text_classes = 'text-16 mt-4'

  if vertical == true
    assign container_classes = container_classes | append: ' md:justify-center md:text-center'
    assign headline_classes = headline_classes | append: ' text-46'
    assign text_classes = text_classes | append: ' hidden md:block'
  else
    assign container_classes = container_classes | append: ' justify-center text-center'
    assign headline_classes = headline_classes | append: ' text-[9.52vw] leading-[1.1]'
  endif
%}

<div 
  x-data="headline"
  class="{{ container_classes }}">
  <div>
    {%- if headline != blank -%}
      <h1 class="{{ headline_classes }}">{{ headline }}</h1>
    {%- endif -%}
    {%- if text != blank -%}
      <p class="{{ text_classes }}">{{ text }}</p>
    {%- endif -%}
  </div>
</div>
