{%- comment -%}
Snippet: Parallax Image
Description: Renders a parallax image component.

@param {Object} image - The image object.
@param {string} ratio - The aspect ratio of the image.
@param {boolean} originalRatio - Flag indicating whether to use the original aspect ratio of the image.
@param {string} innerClass - Additional CSS class for the inner image element.
{%- endcomment -%}

{%- if image != blank -%}
<div
  x-data='parallaxImage()'
  class='parallax-image overflow-hidden relative w-full'
  {%- if imgRatio -%}
  style='aspect-ratio: {{ imgRatio }};'
  {%- elsif originalRatio == true -%}
  style='aspect-ratio: {{ image.width }}/{{ image.height }};'
  {%- else -%}
  style='height: 100%;'
  {%- endif -%}
  >
    {% comment %} :style="elStyle" {% endcomment %}
    <img
      x-ref='img'
      style='height: calc(100% + 7.5vh);top: -4vh;'
      data-scroll
      data-scroll-speed='-0.075'
      src='{{ image | image_url: width: 1920,  format: 'webp' }}'
      alt='{{ image.alt | escape }}'
      loading='lazy'
      class='w-full object-cover object-center absolute {{ innerClass }}'>
</div>
{%- endif -%}
