{%- comment -%}
Section: Page Template for the Contact page
Description: This template is used to render the Contact page.
             It includes a hero image, shop info, and the main content of the page.
             Main content includes a title, text, and a contact form.

Accepts:
 - Blocks:
    - Hero: Image, title, and text, limit 1
    - Shop: Image, label, and text, limit 1
    - Page Title: Title, limit 1
    - Page Text: Text, no limit
    - Page Content: Content, limit 1
    - Contact Form: Form, limit 1
{%- endcomment -%}

<div
  x-data="templateContact()"
  class="template-contact relative w-full">
  {%- comment -%}Image Hero{%- endcomment -%}
  {% assign heros = section.blocks |  where: "type", "hero"  %}
  {%- if heros.size > 0 -%}
    {%- assign hero = heros[0].settings -%}
    {% render 'image-hero',
      title: hero.title,
      text: hero.text,
      image: hero.image
    %}
  {%- endif -%}

  {%- comment -%} Sidebar Content and Page Content {%- endcomment -%}
  <div
    data-scroll
    data-scroll-call="inViewportAnimation"
    class="grid grid-cols-1 lg:grid-cols-6 lg:gap-6 px-6 lg:px-0 lg:py-14 text-black">
    {%- comment -%} Sidebar Content (shop info) {%- endcomment -%}
    <div
      data-animate
      data-preset='fadeUp'
      data-to='{ "delay": 0.2 }'
      class="lg:col-start-1 lg:col-span-1">
      {%- comment -%} Shop {%- endcomment -%}
      <div class="sidebar-content__wrapper flex flex-col lg:pl-10">
        {% assign shops = section.blocks | where: "type", "shop" %}
        {%- if shops.size > 0 -%}
          {%- assign shop = shops[0].settings -%}
          <div class="sidebar-content__text mt-14 mb-8 lg:my-0">
            <h3 class="mb-3 text-16 uppercase">{{ shop.label }}</h3>
            {%- if shop.address != blank -%}
              {%- assign store_address = shop.address | strip_html | escape -%}
              <a
                href='https://www.google.com/maps/search/?api=1&query={{ store_address }}'
                target='_blank'
                rel='noopener nofollow'
                aria-label='{{ 'general.check_out' | t }} {{ store_address }}'
                class='shop-address__link'>
                <div class="shop-address content mb-3 text-16 font-medium">
                  {{ shop.address }}
                </div>
              </a>
            {%- endif -%}

            {%- if shop.work_hours != blank -%}
              <div class="content mb-3 text-16 font-medium">
                {{ shop.work_hours }}
              </div>
            {%- endif -%}

            {%- if shop.email != blank -%}
              <a
                href='mailto:{{ shop.email }}'
                aria-label='{{ 'general.email_to' | t }} {{ shop.email | escape }}'
                target="_blank"
                class='shop-email inline-block mb-3'>
                <span class=" link link--line text-16 font-medium">
                  {{ shop.email }}
                </span>
              </a>
            {%- endif -%}
          </div>

          <div class="shop-image-wrapper mt-3 mb-14 lg:my-8">
            <img
              src="{{ shop.image | image_url: width: shop.image.width, height: shop.image.height}}"
              alt="{{ shop.image.alt }}"
              class="w-full h-auto object-cover">
          </div>
        {%- endif -%}
      </div>

    </div>

    {%- comment -%}
      Page Content: This block renders the main content of the legal page.
      It includes fixed blocks such as Page Title and Page Subtitle, as well as dynamic blocks that can be reordered in the editor.
    {%- endcomment -%}
    <div
      data-animate
      data-preset='fadeUp'
      data-to='{ "delay": 0.4 }'
      class="lg:col-start-3 lg:col-span-3">

      {%- comment -%} Page Title (fixed - not able to move this block in editor) {%- endcomment -%}
      {%- assign titles = section.blocks | where: "type", "page_title" -%}
      {%- if titles.size > 0 -%}
        {%- assign contact_title = titles[0].settings -%}
        <h2 class="mb-6 font-ivar text-30 lg:text-46">{{ contact_title.title }}</h2>
      {%- endif -%}

      {%- comment -%}
        Blocks are within a loop, allowing dynamic content handling.
        Users can reorder and manage blocks in the editor for flexibility.
        Enables easy customization and adaptability to changing content needs.
      {%- endcomment -%}

      {% for block in section.blocks %}
        {% case block.type %}

          {%- comment -%} Rich text {%- endcomment -%}
          {% when 'page_text' %}
            {%- if block.settings.text != blank -%}
              <div class='page__text content my-4 text-16'>
                {{ block.settings.text }}
              </div>
            {%- endif -%}

          {%- comment -%} Page content {%- endcomment -%}
          {%- when 'page_content' -%}
            {%- if page.content != blank -%}
              <div class='page_content content my-4'>
                {{ page.content }}
              </div>
            {%- endif -%}

          {%- comment -%} Contact form {%- endcomment -%}
          {%- when 'contact_form' -%}
            {% render 'contact-form' %}

        {% endcase %}
      {% endfor %}

    </div>

  </div>
</div>


{% schema %}
{
  "name": "Contact Page Template",
  "tag": "section",
  "blocks": [
    {
      "type": "hero",
      "name": "Hero",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "label": "Title",
          "id": "title"
        },
        {
          "type": "text",
          "label": "Text",
          "id": "text"
        },
        {
          "type": "image_picker",
          "label": "Image",
          "id": "image"
        }
      ]
    },
    {
      "type": "shop",
      "name": "Shop",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "label": "Label",
          "id": "label"
        },
        {
          "type": "richtext",
          "label": "Address",
          "id": "address"
        },
        {
          "type": "richtext",
          "label": "Work Hours",
          "id": "work_hours"
        },
        {
          "type": "text",
          "label": "Email",
          "id": "email"
        },
        {
          "type": "image_picker",
          "label": "Image",
          "id": "image"
        }
      ]
    },
    {
      "type": "page_title",
      "name": "Title",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "label": "Title",
          "id": "title"
        }
      ]
    },
    {
      "type": "page_text",
      "name": "Text",
      "settings": [
        {
          "type": "richtext",
          "label": "Text",
          "id": "text"
        }
      ]
    },
    {
      "type": "page_content",
      "name": "Page Content",
      "limit": 1
    },
    {
      "type": "contact_form",
      "name": "Contact Form",
      "limit": 1
    }
  ]
}
{% endschema %}
