<div
  x-data='runningGroupForm({
    formFields: {
      name: "",
      email: "",
      runningLevel: "",
      location: ""
    }
  })'
  class="running-group relative w-full h-full">

  <form
    :class="{ 'error': validator.errors.email.isError }"
    class="running-group-form my-6 lg:mb-0 lg:mt-6"
    @submit.prevent="subscribe">

    <div class="flex flex-col w-full h-full flex-wrap">

      <div class="w-full pb-2">
        <label class="block mb-2 text-black font-proximaNova text-16" for="firstName">
          {{ 'forms.running_group.name' | t }}
        </label>
        <input
          x-model="formFields.name"
          x-ref="name"
          id="name"
          type="text"
          name="name"
          @blur="validateField($event.target)"
          @input="validateField($event.target)"
          :class="{ 'error': validator.errors.name.isError && (validator.isFieldTouched('name') || validator.isFormSubmitted()) }"
          class="field__input relative block w-full border border-gray py-3 px-4 leading-tight appearance-none bg-white2 text-16 text-black" />

        <div class="error-message min-h-[20px]">
          <div x-show="validator.errors.name.isError && (validator.isFieldTouched('name') || validator.isFormSubmitted())" class="text-errorRed text-14" x-text="validator.errors.name.message"></div>
        </div>
      </div>

      <div class="w-full pb-2">
        <label class="block mb-2 text-black font-proximaNova text-16" for="runningLevel">
          {{ 'forms.running_group.running_level' | t }}
        </label>
        <input
          x-model="formFields.runningLevel"
          x-ref="runningLevel"
          id="runningLevel"
          type="text"
          name="runningLevel"
          @blur="validateField($event.target)"
          @input="validateField($event.target)"
          :class="{ 'error': validator.errors.runningLevel.isError && (validator.isFieldTouched('runningLevel') || validator.isFormSubmitted()) }"
          class="field__input relative block w-full border border-gray py-3 px-4 leading-tight appearance-none bg-white2 text-16 text-black" />

        <div class="error-message min-h-[20px]">
          <div x-show="validator.errors.runningLevel.isError && (validator.isFieldTouched('runningLevel') || validator.isFormSubmitted())" class="text-errorRed text-14" x-text="validator.errors.runningLevel.message"></div>
        </div>
      </div>

      <div class="w-full pb-2">
        <label class="block mb-2 text-black font-proximaNova text-16" for="email">
          {{ 'forms.running_group.email' | t }}
        </label>
        <input
          x-model="formFields.email"
          x-ref="email"
          id="email"
          type="email"
          name="email"
          @blur="validateField($event.target)"
          @input="validateField($event.target)"
          :class="{ 'error': validator.errors.email.isError && (validator.isFieldTouched('email') || validator.isFormSubmitted()) }"
          class="field__input relative block w-full border border-gray py-3 px-4 leading-tight appearance-none bg-white2 text-16 text-black" />

        <div class="error-message min-h-[20px]">
          <div x-show="validator.errors.email.isError && (validator.isFieldTouched('email') || validator.isFormSubmitted())" class="text-errorRed text-14" x-text="validator.errors.email.message"></div>
        </div>
      </div>

      <div class="w-full pb-2">
        <label class="block mb-2 text-black font-proximaNova text-16" for="location">
          {{ 'forms.running_group.location' | t }}
        </label>
        <input
          x-model="formFields.location"
          x-ref="location"
          id="location"
          type="text"
          name="location"
          @blur="validateField($event.target)"
          @input="validateField($event.target)"
          :class="{ 'error': validator.errors.location.isError && (validator.isFieldTouched('location') || validator.isFormSubmitted()) }"
          class="field__input relative block w-full border border-gray py-3 px-4 leading-tight appearance-none bg-white2 text-16 text-black" />

        <div class="error-message min-h-[20px]">
          <div x-show="validator.errors.location.isError && (validator.isFieldTouched('location') || validator.isFormSubmitted())" class="text-errorRed text-14" x-text="validator.errors.location.message"></div>
        </div>
      </div>

      {% comment %} MESSAGES {% endcomment %}
      <div class="flex items-center w-full min-h-[36px] mb-4">
        <div
          x-show="message"
          :class="{
            'text-errorRed': !success
          }"
          class="text-18 font-bold leading-none"
          x-text="message"></div>
      </div>

      <div class="w-full">
        <input
          x-ref="submitBtn"
          type="submit"
          :disabled="!isFormValid() || isSubmitting"
          :class="{
            'cursor-not-allowed opacity-50': !isFormValid() || isSubmitting,
            'cursor-pointer hover:text-black hover:bg-white2': isFormValid() && !isSubmitting
          }"
          class="inline-block w-full h-[45px] px-[22px] bg-black border border-black font-proximaNova text-center text-16 align-middle uppercase text-white transition-color"
          value="{{ 'forms.running_group.sign_up' | t }}">
      </div>

    </div>
  </form>
</div>
