
{% comment %} {% for item in shop.metaobjects['shopify--color-pattern'].values %}
  <p>{{item.label.value}}: {{item.color.value}}</p>
{% endfor %} {% endcomment %}

{%- comment -%}
colors: {
{% for item in shop.metaobjects['shopify--color-pattern'].values %}
"{{ item.label.value }}": "{{ item.color.value }}"{% unless forloop.last %},{% endunless %}
{% endfor %}
},
colors: {{ shop.metaobjects['shopify--color-pattern'].values | json }}
{%- endcomment -%}

<div
  class='facet-color'
  x-data='facetColor({
    colors: {{ shop.metaobjects['shopify--color-pattern'].values | json }}
  })'>
  <div
    x-data='accordion({ isOpen: false, id: 0 })'
    @accordion-set-active.window='setActive($event.detail)'
    class='alpine-accordion'>

    {% comment %} TITLE {% endcomment %}
    <div
      @click='toggle'
      class='accordion-title flex w-full justify-between items-center py-4 border-b border-b-gray cursor-pointer'>
      {% comment %} TITLE AND COUNT {% endcomment %}
      <div class='relative'>
        <p x-text='facet.label'></p>
        <sup
          class='absolute left-full top-1 ml-1'
          x-html='totalSelectedOptions(facet.id)'></sup>
      </div>
      {% comment %} END :: TITLE AND COUNT {% endcomment %}

      <div class="accordion-plus"
      :class="{
        'open': isOpen
      }">
          {% render 'icon-accordion-plus' %}
      </div>
    </div>
    {% comment %} END :: TITLE {% endcomment %}

    {% comment %} FOLDABLE PART {% endcomment %}
    <div
      x-ref='foldable'
      class="accordion-foldable overflow-hidden ">
      <div
        class='grid gap-x-4 gap-y-4 grid-cols-3 pt-8'
        x-ref='reference'>
        {% comment %} OPTIONS {% endcomment %}
        <template x-for='option in facet.values'>
          <label
            class='mb-2 flex relative h-12 border border-gray cursor-pointer'>
            <input
              type='checkbox'
              :value='option.value.value'
              x-model='selectedFacets[facet.id]'
              :name="facet.id">

            {% comment %} COLOR DIV AND CHECKMARK {% endcomment %}
            <div
              :style='{
                "color": getCheckboxColor(option.value.value),
                "background-color": getColor(option.value.value),
              }'
              class='absolute top-0 left-0 w-full h-full flex items-center justify-center text-white'>
              <div
                x-transition:enter="transition ease-out duration-300"
                x-transition:enter-start="opacity-0 scale-40"
                x-transition:enter-end="opacity-100 scale-100"
                x-transition:leave="transition ease-in duration-300"
                x-transition:leave-start="opacity-100 scale-100"
                x-transition:leave-end="opacity-0 scale-40"
                x-show='selectedFacets[facet.id].includes(option.value.value)'
                class='checkmark'></div>
            </div>
            {% comment %} END :: COLOR DIV AND CHECKMARK {% endcomment %}

            {% comment %} <span class='mr-2' x-text='option.label'></span> {% endcomment %}
          </label>
        </template>
        {% comment %} END :: OPTIONS {% endcomment %}
      </div>
    </div>
    {% comment %} END :: FOLDABLE PART {% endcomment %}

  </div>
</div>
