{%- comment -%}
Snippet: Mini Cart Recommendations
Description: A snippet that displays product recommendations in the mini cart.
{%- endcomment -%}

<div
  x-data='accordion({
    isOpen: {{ isOpen | default: true }},
    group: "mini-cart-recommendations",
    id: {{ id | default: 1 }}
  })'
  @accordion-set-active.window='setActive($event.detail)'
  class='mini-cart-recommendations border-t border-gray py-5'
  x-cloak>

  <div @click='toggle' class='flex items-center justify-between'>
    <span class='text-16'>{{ title }}</span>
    <div
      :class="{
        'open': isOpen
      }"
      class="accordion-plus cursor-pointer">
      {% render 'icon-accordion-plus' %}
    </div>
  </div>

  <div x-ref='foldable' class="accordion-foldable overflow-hidden">
    <div x-ref='reference'>
      <div
        x-data='miniCartRecommendations()'
        @toggle-cart.window="setRecommendedProduct(); closeSizeSelector($event);"
        class='flex flex-row w-full h-full pt-5'>
        <template x-if="product">
          <div class="recommended-product flex w-full">
              {%- comment -%}Left side: Image {%- endcomment -%}
              <div class="flex aspect-[.82] wide:landscape:w-[20%] w-[39.5%]">
                <template x-if='product?.firstAvailable?.image?.src'>
                  <a
                    :href="getProductVariantUrl(product?.handle, product?.firstAvailable?.id)"
                    :aria-label="`${product?.title}${product?.color ? ` | ${product?.color}` : ''}`"
                    class="inline-block"
                    @click="$dispatch('close-cart')">
                    <img
                      :src="product?.firstAvailable?.image?.src"
                      :alt="product?.firstAvailable?.image?.altText || product.title"
                      class="object-contain">
                  </a>
                </template>
              </div>

              {%- comment -%}Right side: Title, Price and Button that displays available sizes {%- endcomment -%}
              <div class="relative grow flex flex-col justify-between w-full h-full ml-6">

                {%- comment -%} Title and Price {%- endcomment -%}
                <div class="title-and-price__wrapper w-full">
                  <a
                    :href="getProductVariantUrl(product?.handle, product?.firstAvailable?.id)"
                    :aria-label="`${product?.title}${product?.color ? ` | ${product?.color}` : ''}`"
                    @click="$dispatch('close-cart')">
                    <h3 class="inline-block font-semibold" x-text="`${product?.title}${product?.color ? ` | ${product?.color}` : ''}`"></h3>
                  </a>
                  <template x-if="product?.firstAvailable?.price">
                    {% comment %} @todo update price currency display {% endcomment %}
                    <p x-text='formatVariantPrice(product.firstAvailable.price)' class="uppercase mb-6"></p>
                  </template>
                </div>

                <div class="quick-buy__wrapper w-[39px] h-[39px] z-10">
                  <button
                    type="button"
                    aria-label="{{ 'general.quick_buy' | t }}"
                    :disabled="!recommendedProductAvailableSizes && !recommendedProductAvailable"
                    class="quick-buy__btn flex items-center justify-center w-full h-full bg-gray rounded-full z-10"
                    :class="{ 'opacity-50 pointer-events-none': !recommendedProductAvailableSizes && !recommendedProductAvailable }"
                    @click.prevent='handleQuickAtcOrSetSizeGuide($event, setVariantId(product?.firstAvailable?.id), product?.firstAvailable?.quantityAvailable)'>
                    {% render 'icon-plus' %}
                  </button>
                </div>

                {%- comment -%} Render the available sizes {%- endcomment -%}
                <div
                  x-ref="isSizeSelectorOpened"
                  :class="{
                    'translate-y-0': !isSizeSelectorOpened,
                    '-translate-y-full': isSizeSelectorOpened,
                  }"
                  class="available-sizes__wrapper bg-white3 w-full lg:pb-5 pt-5 sm:pt-7 absolute left-0 bottom-auto top-full transition duration-500 z-20"
                  @mouseleave="closeSizeSelector($event)"
                  @click.stop.prevent="closeSizeSelector($event)"
                  x-transition.duration.500ms>
                  <div class="flex items-center mb-4 text-black">
                    <div class="text-16">{{ 'product.size_guide.select_eu_size' | t }}</div>
                    <button
                      type="button"
                      aria-label="{{ 'product.size_guide.title' | t }}"
                      @click.prevent='setSizeGuide()'
                      class="link link--reversed ml-auto text-16 lg:text-14 xl:text-16 uppercase">
                      {{ 'product.size_guide.title' | t }}
                    </button>
                  </div>
                  {%- comment -%}Available sizes{%- endcomment -%}
                  <div class="available-sizes flex gap-3 text-16 lg:text-14 xl:text-16 overflow-x-auto invisible-scrollbar">
                    <template x-for="(size, index) in product.allSizes" :key="`${index}-${size}`">
                      <div
                        :class="getVariantAvailabilityBySize(size) ? 'size-available cursor-pointer' : 'size-unavailable opacity-50 cursor-default'">
                        <template x-if="getVariantAvailabilityBySize(size)">
                          <a
                            x-text="size"
                            :href="getVariantUrlBySize(size)"
                            :aria-label="`${product?.title}${product?.color ? ' | ' + product?.color : ''}${size ? ' | ' + size : ''}`"
                            class="size-link"
                            @click.stop.prevent='quickAddToCart(getVariantIdBySize(size), getVariantInventoryQuantity(size))'></a>
                        </template>
                        <template x-if="!getVariantAvailabilityBySize(size)">
                          <span x-text="size"></span>
                        </template>
                      </div>
                    </template>
                  </div>

                </div>

              </div>
          </div>
        </template>
      </div>
    </div>
  </div>

</div>
