{%- liquid
  assign classTh = 'min-w-12 py-2 px-2 text-center font-semibold uppercase leading-tight'
  assign classTd = 'min-w-12 py-4 px-2 text-center'
-%}

<div class="relative overflow-x-auto">
  <table class="table-auto w-full text-16">
    <thead>
      <tr class="border-b border-gray">
        <th class="{{ classTh }}">EU</th>
        <th class="{{ classTh }}">USA</th>
        <th class="{{ classTh }}">UK</th>
      </tr>
    </thead>
    <tbody>
      <tr class="border-b border-gray">
        <td class="{{ classTd }}">36</td>
        <td class="{{ classTd }}">5.5</td>
        <td class="{{ classTd }}">3.5</td>
      </tr>
      <tr class="border-b border-gray">
        <td class="{{ classTd }}">37</td>
        <td class="{{ classTd }}">6.5</td>
        <td class="{{ classTd }}">4.5</td>
      </tr>
      <tr class="border-b border-gray">
        <td class="{{ classTd }}">38</td>
        <td class="{{ classTd }}">7.5</td>
        <td class="{{ classTd }}">5.5</td>
      </tr>
      <tr class="border-b border-gray">
        <td class="{{ classTd }}">39</td>
        <td class="{{ classTd }}">8.5</td>
        <td class="{{ classTd }}">6.5</td>
      </tr>
      <tr class="border-b border-gray">
        <td class="{{ classTd }}">40</td>
        <td class="{{ classTd }}">9</td>
        <td class="{{ classTd }}">7</td>
      </tr>
      <tr class="border-b border-gray">
        <td class="{{ classTd }}">41</td>
        <td class="{{ classTd }}">9.5</td>
        <td class="{{ classTd }}">7.5</td>
      </tr>
      <tr class="border-b border-gray">
        <td class="{{ classTd }}">42</td>
        <td class="{{ classTd }}">10.5</td>
        <td class="{{ classTd }}">8.5</td>
      </tr>
      <tr>
        <td class="{{ classTd }}">43</td>
        <td class="{{ classTd }}">11.5</td>
        <td class="{{ classTd }}">9.5</td>
      </tr>
    </tbody>
  </table>
</div>

