{%- comment -%}
	Snippet: Article Card
	Description: A card for displaying an article

	Accepts:
	- Blog_Handle: Text
	- Article: Object
	  - article link (URL)
	  - article image (URL)
	  - article title (Text)
	  - article tags (List)
	  - article date (Text)

	Usage:
	{% render 'article-card', blog_handle: 'news', article: article %}

	@see https://shopify.dev/docs/api/liquid/objects/blog
	@see https://shopify.dev/docs/api/liquid/objects/article

	@see https://shopify.dev/docs/api/liquid/filters/date

	@note:
	- displaying published_at as date, maybe change to created_at
{%- endcomment -%}

<article class='article-card relative flex flex-col'>
	<a
		href='{{ article.url }}'
    aria-label="{{ 'general.check_out' | t }} {{ article.title | escape }}"
		class='article-card__link inline-block w-full overflow-hidden'>
		{%- if article.image != blank -%}
			<div class='article-card__image-wrapper w-full h-full'>
				{%-
					render 'scale-down-image',
          alt: article.image.alt | default: article.title,
					image: article.image,
					inner_class: 'article-card__image w-full h-auto object-cover',
					imgRatio: 0.72
				-%}
			</div>
		{%- endif -%}
	</a>

	{% comment %} Card Content {% endcomment %}
	<div class='article-card_content flex flex-col items-center px-4 lg:px-8 pt-8 text-black'>
		{%- if article.tags.size > 0 -%}
			<div class='article-card__tag flex justify-center items-center flex-wrap gap-2'>
				{%- for article_tag in article.tags -%}
          {% render 'article-tag', blog_handle: blog_handle, article_tag: article_tag %}
				{%- endfor -%}
			</div>
		{%- endif -%}

		{%- if article.title != blank -%}
			<a href='{{ article.url }}' aria-label="{{ 'general.check_out' | t }} {{ article.title }}">
				<h3 class='article-card__title py-4 font-ivar text-20 lg:text-30 text-center'>
					{{ article.title }}
				</h3>
			</a>
		{%- endif -%}

		{%- if article.published_at != blank -%}
			<p class='article-card__date font-proximaNova text-16'>
				{{ article.published_at | date: format: 'abbreviated_date' }}
			</p>
		{%- endif -%}
	</div>
</article>
